@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the whole site */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* Force Slate-950 hex code */
  color: #fff;
}
